<div class="layout">
  <div class="container">
    <h4 class="title"> <b>Metrics</b></h4>
    <div class="metric-categories">
      <p>12 metrics </p> <p>6 categories</p>
    </div>
  
    <div class="search-container">
        <button (click)=search()>
          <i class="material-icons">search</i>
        </button>
        <input type="text" [(ngModel)]="searchQuery" placeholder="All categories" name="search">
    </div>
    {{searchQuery}}
    <mat-list>
      <mat-list-item 
      class="metrics-list"
      *ngFor="let metric of metrics"
      draggable="true" (dragstart)="drag($event)" [id]="metric.id"
      >
      {{metric.value}}
      </mat-list-item>
    </mat-list>
  </div>
</div>