<div class="layout">
  <div class="container">
    <h4 class="title">metrics</h4>
    <div class="metric-categories">
      <p>12 metrics </p> <p>6 categories</p>
    </div>
  
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <mat-list>
      <mat-list-item 
      class="metrics-list"
      *ngFor="let metric of metrics"
      draggable="true" (dragstart)="drag($event)" [id]="metric.id"
      >
      {{metric.value}}
      </mat-list-item>
    </mat-list>
  
    <!-- <div class="drop-item" width="100px" height="30px" (drop)="drop($event)" (dragover)="allowDrop($event)">
    </div> -->
  </div>
</div>