<div style="background-color: #f8f8f8;padding: 2%;">
    <div class="container">
        <h2 class="FilteredTitle">Filtered conditions</h2>
        <div class="FilteredCondition" *ngFor="let condition of conditions; let idx = index">
            <div class="card text-left">
                <div class="card-body Choose">
                    <p class="card-text">Choose</p>
                    <div *ngIf="condition.isOpened" style="display: inline">
                        <ul *ngFor="let myOperators of operators" class="operators">

                            <li *ngFor="let operator of myOperators; index" [id]="'operator'+operator.id" 
                            class="fa operator" draggable="true" (dragstart)="drag($event,1)">
                                {{operator.value}}
                            </li>
                        </ul>
                        <button id='operatorAnd' style="cursor: grab;" draggable="true" (dragstart)="drag($event,1)" type="button" class="btn btn-dark">AND</button>
                        <button id='operatorOr' style="cursor: grab;" draggable="true" (dragstart)="drag($event,1)" type="button" class="btn btn-dark">OR</button>
                        <button id='input' style="cursor: grab;margin-left: 4%;" draggable="true" (dragstart)="drag($event,2)" type="button" class="btn btn-default"
                            >add input</button>
                        <!-- <input type="text" name="newMetric" [(ngModel)]="newMetric[idx]"> -->
                    </div>
                    <div class="encaps">
                        <a (click)="changeOperationsState(idx)" style="cursor: pointer;">
                            <i *ngIf="!condition.isOpened" class="fa fa-chevron-right" aria-hidden="true"></i>
                            <i *ngIf="condition.isOpened" class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </div>
                    <a (click)="deleteCondition(idx)" style="cursor: pointer;">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
            <div  class="card">
                <div class="card-body metrics">
                    <div *ngFor="let myChoice of condition.choice let index = index" >

                        <div  
                        (drop)="drop2($event,idx,index)" (dragover)="allowDrop($event)"
                        *ngIf="myChoice.type == 0" class="BG">
                            <p [id]="'met'+idx+'met'+index" draggable="true" (dragstart)="drag($event,myChoice.type,idx,index)" 
                            style="display:inline;padding: 1%;">{{myChoice.value}}</p>
                            <i class="material-icons x-icon" (click)="removeMetric($event,idx,index)">
                                close
                            </i>
                        </div>

                        <div style="display: inline;" draggable="true" (dragstart)="drag($event,myChoice.type,idx,index)" 
                            *ngIf="myChoice.type == 1">
                            <div 
                            *ngIf="isOperator(myChoice.value)"
                            class="custom-select-my">
                                <p  [id]="'op'+idx+'op'+index" (drop)="drop2($event,idx,index)" (dragover)="allowDrop($event)" *ngIf="isOperator(myChoice.value)"
                                style="display:inline;padding: 1%;">{{myChoice.value}}</p>
                                <i class="material-icons x-icon" (click)="removeOperator($event,idx,index)">
                                    close
                                </i>
                            </div>
                            <div  
                                (drop)="drop2($event,idx,index)" (dragover)="allowDrop($event)" 
                                *ngIf="!isOperator(myChoice.value)" style="display: inline;">
                                <div class="div-button">
                                    <p [id]="'operat'+idx+'operat'+index" draggable="true" (dragstart)="drag($event,myChoice.type,idx,index)"
                                     class="And">{{myChoice.value}}</p>
                                    <!-- <i class="fa fa-times" aria-hidden="true" (click)="removeOperator($event,idx,index)"></i> -->
                                    <i class="material-icons x-icon" (click)="removeOperator($event,idx,index)">
                                            close
                                    </i>
                                </div>
                            </div>
                        </div>

                        <div (drop)="drop2($event,idx,index)" (dragover)="allowDrop($event)"
                        draggable="true" (dragstart)="drag($event,myChoice.type,idx,index)" 
                         *ngIf="myChoice.type == 2" style="display: inline;" class="input-div">
                            <input  #value [id]="'input'+idx+'input'+index" 
                            draggable="true" (dragstart)="drag($event,myChoice.type,idx,index)"
                             class="inputText" placeholder="Write input.." [value] ="myChoice.value"
                             type="text" (keyup)="onChangeInput(value,idx,index)" >
                            <i class="input-x-icon material-icons " (click)="removeMetric($event,idx,index)">
                                close
                            </i>
                            
                        </div>
                        
                    </div>
                    <div (drop)="drop($event,idx)" (dragover)="allowDrop($event)" class="droppable"></div>
                </div>
            </div>
            
            <div style="margin-top: 2%;" *ngIf="condition.gate!=null">
                <button (click)="changeGate(idx,0)" [ngClass]="{'Active-yellow':!condition.gate}" type="button" class="btn btn-choose">AND</button>
                <button (click)="changeGate(idx,1)" [ngClass]="{'Active-yellow':condition.gate}" style="margin-left: -0.4%;" type="button"
                    class="btn btn-choose">OR</button>
            </div>
        </div>

        <div class="container rightAdd">
            <p style="display: inline;">add new group</p>
            <a (click)="addChoice()" style="cursor: pointer;">
                <i class="addNewGroup fa fa-plus" aria-hidden="true"></i>
            </a>

        </div>
        <div class="container rightDone">
            <button type="button" class="done btn btn-primary">
                Done
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
        </div>