<!-- <div class="container">
  <div class="layer">
    <p class="Filtered-conditions">Filtered conditions</p>
    <div class="BG">
      <p class="Choose">Choose</p> 
      <div class="Rectangle-1959">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <!--<mat-icon class="Rectangle-1959">home</mat-icon>--><!-- 
      <div>metric</div>
      <div class="operator">operation</div>
      <div>operatorAndOr</div>
    </div>
  
  </div>
</div> -->

<div style="background-color: #f8f8f8">
  <div class="container">
      <h2>Filtered Conditions</h2>
        <div class="FilteredCondition"
            *ngFor="let choice of choices"
        >
            <div class="card text-left">
                <div class="card-body Choose">
                    <p class="card-text">Choose</p>
                    <ul class="operators">
                        <li class="operator">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <li class="operator">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </li>
                        <li class="operator">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </li>
                        <li class="operator">/</li>
                        <li class="operator">
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </li>
                    </ul>
                    <ul class="operators">
                        <li class="operator">=</li>
                        <li class="operator">></li>
                        <li class="operator">=</li>
                        <li class="operator">=</li>
                        <li class="operator">!=</li>
                    </ul>
                    <button type="button" class="btn btn-dark">AND</button>
                    <button type="button" class="btn btn-dark">OR</button>
                    <div class="encaps">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    
                </div>
            </div>  
            <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="card">
                <div  class="card-body metrics">
                    <div *ngFor="let myChoice of choice.choice" style="display:inline;">
                        
                        <div *ngIf="myChoice.type == 0" class=" droppable-Active">
                            {{myChoice.value}}
                            <i class="fa fa-times" aria-hidden="true" (click)="removeMetric($event)"></i>
                        </div>
    
                        <div *ngIf="myChoice.type == null" class="droppable droppable-Error">
                            .
                        </div>
                        <select *ngIf="myChoice.type == 1" class="custom-select-my">
                            <option selected>=</option>
                            <option value="1">-</option>
                            <option value="2">×</option>
                            <option value="3">÷</option>
                        </select>
                    </div>

                    <select class="custom-select-my custom-select-operator">
                        <option value='1' selected>AND</option>
                        <option value="3">OR</option>
                    </select>
                </div>
            </div> 
        </div>


      <div class="FilteredCondition">
          <div class="card text-left">
              <div class="card-body Choose">
                  <p class="card-text">Choose</p>
                  <ul class="operators">
                      <li class="operator">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                      </li>
                      
                      <li class="operator">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                      </li>
                      <li class="operator">
                          <i class="fa fa-times" aria-hidden="true"></i>
                      </li>
                      <li class="operator">/</li>
                      <li class="operator">
                          <i class="fa fa-percent" aria-hidden="true"></i>
                      </li>
                  </ul>
                  <ul class="operators">
                      <li class="operator">=</li>
                      <li class="operator">></li>
                      <li class="operator">=</li>
                      <li class="operator">=</li>
                      <li class="operator">!=</li>
                  </ul>
                  <button type="button" class="btn btn-dark">AND</button>
                  <button type="button" class="btn btn-dark">OR</button>
                  <div class="encaps">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  
              </div>
          </div>

          <div (drop)="drop($event)" (dragover)="allowDrop($event)" class="card">
              <div class="card-body metrics">
                  <div class="droppable"></div>
                  <div class=" droppable-Active">
                      Running data
                      <i class="fa fa-times" aria-hidden="true" (click)="removeMetric($event)"></i>
                  </div>
                  <div class="droppable-Active">
                      Running data 
                      <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                  <div class="droppable droppable-Error">
                      .
                  </div>
                  <select class="custom-select-my">
                      <option selected>=</option>
                      <option value="1">-</option>
                      <option value="2">×</option>
                      <option value="3">÷</option>
                  </select>
                  <select class="custom-select-my custom-select-operator">
                      <option value='1' selected>AND</option>
                      <option value="3">OR</option>
                  </select>
              </div>
          </div>
      </div>

      <button type="button" class="btn btn-choose">AND</button>
      <button style="margin-left: -0.4%;" type="button" class="btn btn-choose Active-yellow">OR</button>

      <div class="FilteredCondition">
          <div class="card text-left">
              <div class="card-body Choose">
                  <p class="card-text">Choose</p>
                  <ul class="operators">
                      <li class="operator">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                      </li>
                      
                      <li class="operator">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                      </li>
                      <li class="operator">
                          <i class="fa fa-times" aria-hidden="true"></i>
                      </li>
                      <li class="operator">/</li>
                      <li class="operator">
                          <i class="fa fa-percent" aria-hidden="true"></i>
                      </li>
                  </ul>
                  <ul class="operators">
                      <li class="operator">=</li>
                      <li class="operator">></li>
                      <li class="operator">=</li>
                      <li class="operator">=</li>
                      <li class="operator">!=</li>
                  </ul>
                  <button type="button" class="btn btn-dark">AND</button>
                  <button type="button" class="btn btn-dark">OR</button>
                  <div class="encaps">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  
              </div>
          </div>
          <div class="card">
              <div class="card-body metrics">
                  <div class="droppable" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
                  <div class="droppable-Active">
                      Running data
                      <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                  <div class="droppable-Active">
                      Running data 
                      <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                  <div class="droppable droppable-Error">
                      .
                  </div>
                  <select class="custom-select-my">
                      <option selected>=</option>
                      <option value="1">-</option>
                      <option value="2">×</option>
                      <option value="3">÷</option>
                  </select>
                  <select class="custom-select-my custom-select-operator">
                      <option value='1' selected>AND</option>
                      <option value="3">OR</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
</div>